<div ng-app="appUpdatePassword" ng-controller="updatePassword" class="form-group" style="margin:50px;">
    <div class="loading" ng-show="divLoad">Loading&#8230;</div>
    <h2>Update password / Altualizar senha</h2>
    <br />
    <label class="control-label" for="passwordCurrent">Password current / Senha atual</label>
    <input type="password" class="form-control" id="passwordCurrent" name="passwordCurrent" ng-model="passwordCurrent" style="margin-bottom:15px;" required />
    <label class="control-label" for="password">New password / Nova senha</label>
    <input type="password" class="form-control" id="password" name="password" ng-model="password" style="margin-bottom:15px;" required />
    <label class="control-label" for="repassword">New re-Password / Repita nova senha</label>
    <input type="password" class="form-control" id="repassword" name="repassword" ng-model="repassword" style="margin-bottom:15px;" required />
    <div>
        <div style="float:left;margin-right:30px;">
            <button class="btn btn-success" ng-click="Save()" style="margin-top:10px;">Save</button>
        </div>
        <div>
            <button class="btn btn-warning" ng-click="Cancel()" style="margin-top:10px;">Cancel</button>
        </div>
    </div>
    <input type="hidden" id="hdnIdPerson" value="{{IdPerson}}" />
    <input type="hidden" id="hdnIdProfile" value="{{IdProfile}}" />
</div>
<script src="~/lib/angular/angular.js"></script>
<script src="~/app/Person/UpdatePasswordController.js"></script>

@section Scripts
    {
    <script>
        $(document).ready(function () {

            var hostSite = window.location.host;

            $('#titleTalent').click(function () {
                window.location.href = "http://" + hostSite + "/Person/Index/" + $('#hdnIdProfile').val() + "/" + $('#hdnIdPerson').val();
            });

            $('#aHome').click(function () {
                window.location.href = "http://" + hostSite + "/Person/Index/" + $('#hdnIdProfile').val() + "/" + $('#hdnIdPerson').val();
            });

            $('#aUpdateData').click(function () {
                window.location.href = "http://" + hostSite + "/Person/EditPerson/" + $('#hdnIdPerson').val() + "/" + $('#hdnIdPerson').val();
            });

            $('#aUpdatePassword').click(function () {
                window.location.href = "http://" + hostSite + "/Person/UpdatePassword/" + $('#hdnIdPerson').val() + "/" + $('#hdnIdPerson').val();
            });

            $('#aLogoff').click(function () {
                window.location.href = "http://" + hostSite + "/Login";
            });
        });
    </script>
}

